[submodule "prometheus_wireguard_exporter"]
	path = prometheus_wireguard_exporter
	url = https://github.com/MindFlavor/prometheus_wireguard_exporter
[submodule "chatgpt-telegram-bot"]
	path = chatgpt-telegram-bot
	url = https://github.com/RainEggplant/chatgpt-telegram-bot
[submodule "ChatGPT-Proxy"]
	path = ChatGPT-Proxy
	url = https://github.com/acheong08/ChatGPT-Proxy
